@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  --c-dark-cyan: hsl(158, 36%, 37%);
  --c-cream: hsl(30, 38%, 92%);
  --c-very-dark-blue: hsl(212, 21%, 14%);
  --c-dark-grayish-blue: hsl(228, 12%, 48%);
  --c-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  
  font-size: 1rem;
  font-family: "Montserrat", serif;
  background: var(--c-cream);

  display: grid;
  grid-template-columns: repeat(1,1fr);
}

/* card styles */
.card{
  width: 600px;
  background: var(--c-white);
}

.card article{
  display: flex;
}